<div align="center" border="1">

    <table border="0" align="center" width="100%">
        <thead>
            <tr>
                <td style="background-color:#666666;" align="center" colspan="7">
                    <span style="color:white;font-size:x-large" ;><strong>Destination</strong></span>
                </td>
            </tr>
            <tr>
                <th width="160">Directory&nbsp</th>
                <th width="160">Surname&nbsp</th>
                <th width="160">FirstName&nbsp</th>
                <th width="160">Site&nbsp</th>
                <th width="160">Appointment&nbsp</th>
                <th width="160">Rank&nbsp</th>
                <th width="160">Function&nbsp</th>
            </tr>

            <tr class="border_bottom">
                <td>
                    <select style="width: 100%">
                        <option value="defence">Defence</option>
                        <option value="internal">Internal</option>

                    </select>
                </td>
                <td><input type="text" ng-model="surname" /></td>
                <td><input type="text" ng-model="FirstName" /></td>
                <td><input type="text" ng-model="site" /></td>
                <td><input type="text" ng-model="appointment" /></td>
                <td><input type="text" ng-model="rank" /></td>
                <td><input type="text" ng-model="function" /></td>
            </tr>

    </table>
</div>
