<div align="center" border="1">
    <!--TODO this for sample-->
    <table border="0" align="center">
        <thead>
            <tr>
                <td>
                    ANI
                </td>
                <td>
                    <input type="text" ng-model="ani" ng-keyup="getCallerInfo()" />
                </td>
            </tr>
            <tr >
                <td style="background-color:#666666;" align="center" colspan="15">
                    <span style="color:white;font-size:x-large";><strong>Caller Contact Info</strong></span>
                </td>

            <tr>
                <th width="160">Surname&nbsp</th>
                <th width="160">FirstName&nbsp</th>
                <th width="160">Site&nbsp</th>
                <th width="160">Appointment&nbsp</th>
                <th width="160">Rank&nbsp</th>
                <th width="160">PMKeys&nbsp</th>
                <th width="160">Region&nbsp</th>
                <th width="160">Function&nbsp</th>
                <th width="160">Mobile&nbsp</th>
                <th width="160">Pager&nbsp</th>
                <th width="160">Phone&nbsp</th>
                <th width="160">Fax&nbsp</th>
                <th width="160">AltContact&nbsp</th>
                <th width="160">AltPhone&nbsp</th>
                <th width="160">VOP&nbsp</th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="caller in callerInfo" class="border_bottom">

                <td>{{caller.surname}}</td>
                <td>{{caller.firstName}}</td>
                <td>{{caller.site}}</td>
                <td>{{caller.appointment}}</td>
                <td>{{caller.rank}}</td>
                <td>{{caller.pmKeys}}</td>
                <td>{{caller.region}}</td>
                <td>{{caller.function}}</td>
                <td>{{caller.mobile}}</td>
                <td>{{caller.pager}}</td>
                <td>{{caller.phone}}</td>
                <td>{{caller.fax}}</td>
                <td>{{caller.altContact}}</td>
                <td>{{caller.altPhone}}</td>
                <td>{{caller.vip}}</td>
            </tr>
            <tr>
                <td colspan="15" align="right">
                    <button ng-click="traceCall()" type="button" class="btn btn-warning right">Trace Call</button>
                </td>
            </tr>
        </tbody>
    </table>
   

</div>
