.widget--hello-world {
}

.widget--hello-world p {
  margin: 0;
  font-size: 1.2em;
}

.widget--hello-world input {
  margin: 15px;
}

.widget--hello-world pre {
  border: 3px solid #e3e3e3;
  background: lightyellow;
  padding: 10px;
}

.widget--hello-world .say-hello {
  font-size: 2em;
}

